
 



<div class="container">
  <div class="row">

    <div class="col s12 " id="articles">
     
        {{#each articles}}
          {{#if this.saved}}
            
            <div class="col s4">
              <div class="card">
                <div class="card-image">
                  <img src="{{this.pic}}">
                  <span class="card-title">{{this.title}}</span>
                </div>
                <div class="card-content">
                  <p>{{this.con}}</p>
                </div>
                <div class="card-action">

                  <!-- ============================================== -->
                  <!-- Modal: Trigger and Structure for viewing notes -->
                  <!-- ============================================== -->

                  <a class="waves-effect waves-light  modal-trigger" href="#{{this.title}}-viewnotes">View Notes</a>
                 
                  <!-- Modal Structure -->
                  <div id="{{this.title}}-viewnotes" class="modal">
                    <div class="modal-content">
                      <h4>Notes on {{this.title}}</h4>
                      <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>

                  <!-- ============================================== -->
                  <!-- Modal: Trigger and Structure for saving a note -->
                  <!-- ============================================== -->

                  <a class="waves-effect waves-light  modal-trigger" href="#{{this.title}}-addnote">Add Note</a>
                 
                  <!-- Modal Structure -->
                  <div id="{{this.title}}-addnote" class="modal">
                    <div class="modal-content">
                      <h4>Add A Note</h4>
                      

                      <div class="row">
                        <form action="/api/add/note/{{this.id}}" method="POST" class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <input id="user-name" name="name" type="text">
                              <label for="user-name">User Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <textarea id="note" name="note" class="materialize-textarea"></textarea>
                              <label for="note">Note</label>
                            </div>
                          </div>
                          <button class="btn waves-effect waves-light" id="submit" type="submit">Submit
                            <i class="material-icons right">send</i>
                          </button>
                        </form>
                      </div>
                      
                    </div>
                  
                  </div>

                  <a href="#">Unsave</a>      
                </div>
              </div>
            </div>
         
            
            
          {{/if}}
        {{/each}}

    </div>
    
  </div>      
</div>

